<p>
  <%= link_to comment_shortener(comment), comment_url(comment) %>
</p>
<p> -- <%= comment.author.username  %>

<ul>
  <% comment.child_comments.each do |child| %>
  <li>
    <%= render partial: "comment", locals: { comment: child } %>
  </li>
  <% end %>
</ul>
