<p>
  <%= link_to comment_shortener(comment), comment_url(comment) %>
</p>
<p> -- <%= comment.author.username  %> at <%= comment.created_at %> </p>


<ul>
  <% all_comments.each do |potential_child| %>
  <% next unless potential_child.parent_comment_id == comment.id %>
  <li>
    <%= render partial: "comment",
      locals: { comment: potential_child, all_comments: all_comments } %>
  </li>
  <% end %>
</ul>
